node_modules

/.cache
/build
/public/build
/dist
.env
pnpm-lock.yaml
.idea
dev.db
*.db
*.sqlite
*.sqlite3
/prisma/migrations
/prisma/*.db-journal
!/prisma/schema.prisma

package-lock.json
bun.lockb
*.log
src/app/routes/test.api.$id/route.tsx
/src/app/routes/api.test/
/src/app/routes/api.test/route.tsx
